/* Start Global Styling */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
    font-size: 16px;
    
}
:root{
    --primary-color:#b2da01;
    --hover-color:#d9ed80;
    --text-color:#333;
    --lite-color:#f5f5f5;
    --main-padding: 100px 0;
    --feature-color:#2196f3;
    --team-color:#333   ;
    --box-color:white;
        --service-color:#333
}
html{
    scroll-behavior: smooth;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left:auto;
    margin-right:auto;
}
/* -------------------------Media Queries---------------------------- */
/* small */
@media(min-width: 768px){
    .container {
        width: 750px;
    }
     
}
/* Meduim */
@media(min-width: 992px){
    .container {
        width:970px;
    }
}
/* large */
@media (min-width:1200px){
    .container{
        width: 1170px;
    }
}
/* End Global Styling */
/* Start Header */
.header{
    background-color: white;
    box-shadow: 0 0 10px #ddd;
    position: relative;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    gap: 100px;
    flex-wrap: wrap;
}
@media (max-width: 767px){
    .header .container{
        gap: 0;
    }
    
}
.header .logo{
    flex: 1;
    color: var(--primary-color);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 72px;
}
.header .logo a{
    font-size: 24px;
    font-weight: bold;
}
@media (max-width: 767px){
    .header .logo{
        flex: 1 0 100%;
        justify-content: center;
    }
}
.nav{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    
}
.nav > li > a{
    position: relative;
    font-size: 18px;
    overflow: hidden;
    transition:  0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    padding: 0 10px;   
}
.nav > li > a::before{
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 4px;
    background-color: var(--primary-color);
    left: -100%;
    transition: 0.3s;
}
.nav > li > a:hover{
     color: var(--primary-color);
  background-color: #fafafa;
}
.nav > li > a:hover::before{
    left: 0;
}
/* start mega menu */
.mega-menu{
   position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 72px;
    left: 0;
    gap: 20px;
    background-color: white;
    border-bottom: 2px solid var(--primary-color);
    border-top: 0.5px solid #ddd;
    display: none;
}
.mega-menu .image{
    flex: 1.1;
    text-align: center;

}
.mega-menu .image img{
    width: 250px;
    max-width: 100%;
    height: 100%;
}
.mega-menu .links{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.mega-menu .links li {
    padding : 10px;
    width: 100%;

    border-bottom: 1px solid #ddd;
    transition: 0.3s;
    
}
.mega-menu .links li a{
    font-size: 18px;
    color: var(--text-color);
    padding: 5px 0;
    display: block;
    transition: 0.3s;
}
.mega-menu .links li:hover{
    color: var(--primary-color);
    background-color: var(--lite-color);
}
.nav li:last-child:hover .mega-menu{
    display: flex;
}
@media (max-width:991px) {
    .mega-menu .image{
        display: none;
    }

}
@media (max-width: 767px){
    .mega-menu{
        display: none;
    }
    .nav li:last-child:hover .mega-menu{
        display: block;
        top: 144px;
      
    }
    
}
/* end mega menu */
/* End Header */
/* start landing */
.landing{
    position: relative;
    margin-top: -42px;
    margin-bottom: 5px;
    z-index: -1;
}
@media (max-width: 767px){
    .landing{
        margin-top: 0px;
    }
    
}
.landing .container{
    display: flex;
    align-items: center;
    min-height: calc(90vh - 72px);
    margin-bottom: 0;
;
}
@media (max-width:767px){
    .landing .container{
        flex-direction: column;
    }
}
.landing::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background-color: var(--lite-color);
    transform: skewY(-6deg);
    transform-origin: top left;
    z-index: -1;

}
.landing .container .landing-text{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
}
.landing .container .landing-text h1{
    font-size: 28px;
    color: var(--primary-color);
    margin-bottom: 5px;
}
.landing .container .landing-text h1 span{
    color: black;
    font-size: 26px;
    font-weight: 800;
}
.landing .container .landing-text p{
   font-size: 20px;
    line-height: 1.7;
    margin: 5px 0 0;
    color: #666;
    max-width: 500px;
}
.landing .container .landing-img{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
@media (max-width: 767px){
    .landing .landing-img{
        margin-bottom: 30px;
        max-height: 400px;
    }
    .landing .container .landing-text{
        margin-bottom: 10px;
        margin-top: 10px;
    }

    
}
.landing .container .landing-img figcaption{
    position: absolute;
    bottom: 40px;
    right: 0;
}
.landing .container .landing-img figcaption a{
    font-size: 10px;
}
.landing .container .landing-img img{
    width: 400px;
    height: 100px;
}
.landing .go-down{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    color: #515b60;
    margin: -20px 0;
}

.landing .go-down i{
    font-size: 30px;
    animation: bounce 1s infinite;
}
.landing .go-down:hover i{
    color: var(--primary-color);
}
.btns{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    bottom: 140px;
    left: 28%;
    transform: translateX(-50%);
}
.btns .btn-1, .btn-2{
    padding: 10px 30px;
    font-size: 18px;
    background-color: transparent;
    font-weight: bold;
    border-radius: 10px;
    border: solid var(--hover-color);
    color: var(--hover-color);
    cursor: pointer;
    transition: 0.3s;
}
.btn-2{
    background-color: var(--primary-color);
        border: solid var(--primary-color);
    color: white;
}
.btns .btn-1:hover{
    background-color: var(--hover-color);
    color: white;
    transition: 0.3s;
}
@media (max-width: 767px){
    .btns{
        margin-bottom: -150px;
        left: 50%;
    }
    .go-down{
        display: none;
    }

}
/* end landing */
/* start  component */
.component{
    position: relative;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: black;
    margin: 50px auto;
    text-align: center;
    padding: 10px 15px;
    border: 2px solid var(--text-color);
    transition: 0.3s;
    border-radius: 5px;
    width: fit-content;
    z-index: 10;
}
.component::before{
    content: "";
    width: 12px;
    position: absolute;
    height: 12px;
    background-color: var(--primary-color);
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    transition: 0.3s;
}
.component::after{
    content: "";
    width: 12px;
    position: absolute;
    height: 12px;
    background-color: var(--primary-color);
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    transition: 0.3s;
}
.component:hover::before{
    z-index: -1;
    animation: move-left 0.5s linear forwards;
}
.component:hover::after{
    z-index: -1;
    animation: move-right 0.5s linear forwards;
}
.component:hover{
    color: white;
    border: 0;
    transition-delay: 0.5s;
}
/* End  component */
/* Start Articles */
.articles{
        padding: var(--main-padding)
}
.articles .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 20px;
}
.articles .container .card{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 5px #ddd;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    transition: 0.3s;
    margin-bottom: 15px;
}
.articles .container .card:hover{
    transform: translateY(-5px);
    transition: 0.3s;
}
.articles .container .articles-img{
    flex: 1;
    
}
.articles .container .articles-img img{
    width: 100%;
    max-width: 100%;
    max-height: 250px;
    height: 100%;
    box-shadow: 0 2px 5px #ddd;
    border-radius: 10px;
}
.articles .container .articles-text{
    padding: 10px;
    display: flex;
    width: 100%;
;
    justify-content: center;
    flex-direction: column;
}
.articles .container .articles-text h1{
    font-size: 18px;
    font-weight: bold;
    color: var(--text-color);
    text-align: left;
    margin-bottom: 10px;
}
.articles .container .articles-text p{
    font-size: 16px;
    color: #666;
    text-align: left;
    line-height: 1.5;
    margin-bottom: 10px;
    line-height: 1.5;
    width: 100%;
}
.articles .container .articles-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-top: 10px;
    padding: 10px;
    border-top: 1px solid #ddd;
}
.articles .container .articles-links a{
    
    color: var(--primary-color);
}
.heart-toggle i {
  color: var(--text-color);
  cursor: pointer;
  transition: color 0.3s ease;
}
.heart-toggle input:checked + i {
  color: palevioletred;
}
/* End Articles */
/* Start gallery */
.gallery{
    padding: var(--main-padding);
    background-color: var(--lite-color);
}
.gallery .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 40px;
}
.gallery .gallery-card{
    background-color: white;
    padding: 15px;
    box-shadow: 0 0 5px #ddd;

}
.gallery .gallery-card .gallery-img{
    position: relative;
    overflow: hidden;
}
.gallery .gallery-card .gallery-img::before{
    content: "";
    position: absolute;
    background-color: rgb(255, 255,255,0.3);
    width: 10px;
    height: 10px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    z-index: 2;
}
.gallery .gallery-card .gallery-img:hover::before{
    animation: flashing 0.7s;
}
.gallery .gallery-card img{
    max-width: 100%;
    transition: 0.3s;
}
.gallery .gallery-card:hover img{
    transform: rotate(5deg) scale(1.1);
    transition: 0.3s;
    animation-delay:0.7s}
/* End gallery */
/* Start features */
.features{
    padding: var(--main-padding);
}
.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap:40px;
}
.features .feature-card{
    background-color: white;
    padding: 10px;
    box-shadow: 0 0 15px #ddd;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.features .feature-img{
    position: relative;
    overflow: hidden;
}
.features .feature-img::before{
    content: "";
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    opacity: 0.3;
}
.features .feature-img::after{
    position: absolute;
    content: "";
    border-style: solid;
    border-color: transparent transparent white transparent;
    border-width: 0px 0px 282px 631px;
    left: 50%;
    top: 77%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
}
.features .feature-card:hover .feature-img::after{
        border-color: transparent transparent transparent white;
    border-width: 282px 0 0px 631px;
}
.features .feature-img img{
    max-width: 100%;
}
.features .feature-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.features .feature-text h1{
    font-size: 25px;
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 10px;
    text-align: center;
}
.features .feature-text h1::after{
    content: "";
    display: block;
    width: 80px;
    height: 4px;
    background-color: var(--feature-color);
    margin: 10px auto;
}
.features .feature-text p{
    font-size: 20px;
    color: #666;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 10px;
}
.features .feature-text a{
    font-size: 18px;
    color: var(--feature-color);
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    width: fit-content;
    left: 50%;
    border: 3px solid var(--feature-color);
    margin-bottom: 30px;
}
.features .feature-card:hover a{
    background-color: var(--feature-color);
    color: white;
    transition: 0.3s;
}
.features .feature-card:nth-child(2){
    --feature-color: orange;
}
.features .feature-card:last-child{

        --feature-color: green;
    
}
/* End features */
/* Start Testimonials */
.testimonials{
    margin-top: 150px;
    padding: var(--main-padding);
    background-color: var(--lite-color);
}
.testimonials .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 40px;
}
.testimonials .testimonials-card{
    position: relative;
    background-color: white;
    padding: 20px;
    box-shadow: 0 10px 5px #ddd;
    border-radius: 10px;
    margin-top: 35px;
}
.testimonials .testimonials-card img{
   width: 100px;
    position: absolute;
    right: 4px;
    border-radius: 50%;
    top: -32%;
    border: 10px solid var(--lite-color);
    height: 100px;
}
.testimonials .testimonials-card h3{
    font-size: 20px;
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 10px;
    text-align: left;
}
.testimonials .testimonials-card p{
    font-size: 16px;
    color: #666;
    text-align: left;
    line-height: 1.5;
    margin-bottom: 10px;
}
.testimonials .testimonials-card .rate{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    padding: 5px;
}
.testimonials .testimonials-card .rate i{
    color: #ffc107;
}
.testimonials .testimonials-card .rate i:hover{
    color: var(--primary-color);
}
/* End Testimonials */
/* Start Team */
.team{
    padding: var(--main-padding);
}
.team .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 40px;
}
.team .team-card{
    padding: 20px;
    position: relative;;
}

.team .team-card::before{
    content: "";
    position: absolute;
    width: 80%;
    height: 85%;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    box-shadow: 0px 3px 0px var(--team-color);
    z-index: -1;
}
.team .team-data{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}
.team .team-data img{
    box-shadow: 0px -3px 0px var(--team-color);
    width:100px;
    height: 100px;
     border-radius: 30%;
}
.team .social{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.team .team-info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    color: var(--team-color);
}
.team .team-info p{
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 10px;
}
.team .container .team-card:nth-child(1){
    --team-color: var(--primary-color);
}
.team .container .team-card:nth-child(2){
    --team-color: orange;
}
.team .container .team-card:nth-child(3){
    --team-color: crimson;
}
.team .container .team-card:nth-child(6){
    --team-color: green;
}
.team .container .team-card:nth-child(4){
    --team-color: coral ;
    }
.team .container .team-card:nth-child(5){
    --team-color: brown;
}
.team .container .team-card:hover{
    transform: translateY(-5px);
    transition: 0.3s;
    --team-color: black;
}
/* End Team */
/* Start Services */ 
.services{
    margin-top: 150px;
    padding: var(--main-padding);
    background-color: var(--lite-color);
}
.services .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 40px;
}
.services .services-card{
    display: flex;
    background-color: var(--box-color);
    position: relative;
    counter-increment: numbrz 1;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 2px 1px 1px #ddd;
    margin: 20px 0;
    border-radius: 2%;
}
.services .services-card::before{
    content: "";
    position: absolute;
    width: 10px;
    height: 3px;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    background-color: var(--primary-color);
    transition: 0.3s;
}
.services .services-card:hover::before{
    width: 100%;
}
.services .services-card:hover{
    transform: translateY(-5px);
    transition: 0.3s;
}
.services .services-card i{
    background-color: var(--service-color);
    border-radius: 30%;
    border: 9px solid var(--lite-color);
    top: -48px;
    position: absolute;
    color: floralwhite;
    margin-top: 50px;
    padding: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.services .services-card h3{
    font-size: 20px;
    padding: 5px;
    font-weight: bold;
    color: var(--text-color);
    margin: 40px 0 0 ;
    text-align: center;
}
.services .services-card p{
    font-size: 16px;
    color: #666;
    text-align: center;
    line-height: 1.5;
    margin: 10px 0;
    padding: 10px;
}
.services .services-text{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 15px;
    position: relative;
    overflow: hidden;
       }
       .services .services-text a{
        z-index: 2;
       }

.services .services-text::before{
    content: counter(numbrz);
        position: absolute;
    left: 0;
    bottom: 0%;
    font-size: 20px;
    font-weight: bold;
    background-color: var(--service-color);
    color: var(--box-color);
    padding: 10px;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center; 
    z-index: 1;   
    border-right: 3px solid var(--lite-color);
}
.services .services-text:hover.services-text::before{
    border-right: 1000px solid var(--primary-color);
}

/* End Services */ 

/* --------------------------------------- */
/* Start Animation */
@keyframes bounce{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes move-left{
    50%{
        left: 0;
    }
    100%{
        left: 0;
        width:50%;
        height:100%;
        border-radius: 0;
    }
}
@keyframes move-right{
    50%{
        right:0;
    }
    100%{
        right: 0;
        width:50%;
        height:100%;
        border-radius: 0;
    }
}
@keyframes flashing{
    0%, 40%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        width: 100%;
        height: 100%;
    }
}
/* End Animation */
